{{#extends "base"}}

{{#block "js"}}

<body>
    <div class="container mt-5">
        <h2 class="mb-4">Inventory Items</h2>

        <div>
            <a href="/inventory/create" class="btn btn-success">Add New Inventory</a>
        </div>
        <br>
        <div>
            <a href="/inventory-transactions" class="btn btn-success">Update Inventory Items</a>
        </div>
        <br>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Item Name</th>
                    <th>Unit</th>
                    <th>Current Quantity</th>
                    <th>Reorder Level</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th>Shop Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each inventoryList}}
                <tr>
                    <td>{{this.inv_item_name}}</td>
                    <td>{{this.inv_item_unit}}</td>
                    <td>{{this.inv_item_current_quantity}}</td>
                    <td>{{this.inv_item_reorder_level}}</td>
                    <td>{{formatDate this.created_at}}</td>
                    <td>{{formatDate this.updated_at}}</td>
                    <td>{{this.shop_name}}</td>
                    <td>
                        <a href="/inventory/transactions/update/{{this.inv_item_id}}" class="btn btn-sm btn-warning">
                            Update from Orders
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</body>

{{/block}}

{{/extends}}